@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://static.wikia.nocookie.net/mlp/images/b/b2/AiP_Sugarcubecorner.png");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  margin: auto;
}

h1{
  font-size: 30px;
  color: rgb(249, 70, 148);
}

#myCanvas {
  background-size: 600px 400px;
  
  
}





